package {{apiPackage}};

import org.springframework.cloud.openfeign.FeignClient;
import org.springframework.web.bind.annotation.*;
import org.springframework.http.ResponseEntity;

@FeignClient(name = "{{baseName}}", url = "{{url}}")
public interface MsCoreApi {
    {{#paths}}
    {{#operation}}
    {{#httpMethod}}
    @{{httpMethod}}("{{path}}")
    ResponseEntity<{{responseType}}> {{operationId}}(
        {{#parameters}}{{#hasMore}}, {{/hasMore}}{{name}} = "{{defaultValue}}"{{/parameters}}
    );
    {{/httpMethod}}
    {{/operation}}
    {{/paths}}
}